# This is Git's per-user configuration file.
[user]
  name = Soroush Pour
  email = me@soroushjp.com
[alias]
  co = checkout
  ci = commit
  lg = log
  df = diff
  st = status
  sh = stash
  ph = push
  pl = pull
[push]
  default=simple
