# machine specific zsh configuration

# DEVPATH should be the root development directory. It is expected to include
# 'src', 'pkg', and 'bin' directories, to serve as the $GOPATH for Go
# development.

export DEVPATH=<include here>
export PATH=$PATH:$DEVPATH/bin

# golang
export GOPATH=$DEVPATH
