# This is Git's per-user configuration file.
[user]
  name = Soroush Pour
  email = me@soroushjp.com
[alias]
  ci  = commit
  co  = checkout
  df  = diff
  lg  = log
  ph  = push
  phf = push --force-with-lease
  pl  = pull
  sh  = stash
  st  = status
[push]
  default=simple
[gpg]
  program = gpg2
